body {
    margin: 0px;

    background-image: url(../images/petr1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0px;
    color: white;
}

header {
    display: flex;
    padding: 30px;
    height: 68px;
    align-items: center;
    justify-content: space-between;
    background-color: black; 
}

button {
    margin: 0px;
    height: 20px;
    font-size: 20px;
    border: none; 
}

.btt3:hover {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    gap: 20px;
    height: 38px;
    color: red;
    
}

.button-game:hover{
    background-color:black
    color: whi;
    border: 2px solid white ;
    
    
}

.button-about:hover {
    color: white;
    background-color:black
    border: 2px solid white ;
    
}

 .footjob {
    background-color:black;
   position: fixed;
   right: 0;
   bottom: 0;
   text-align: center; 
   width: 99%;   
   font-size: 19px;
font-weight: bold;
  color: #fafaff;   
  }

.menu:hover { 
    color: #8eff8c;
    font-style: italic;
    padding:2px;
    background-color:#fdfffc;
}
 .t {
    background-color: pink
    ;
 }