* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-image: url(../images/sity_2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh
}

.logo{
    display: flex;
    width: 70px;
    height: 70px;
}

.zagolovok {
    font-family: "JetBrains Mono", serif;
    color: white;
    transition: 0.2s;
     
}

.zagolovok h1:hover {
    color: rgb(153, 50, 204);
    transition: 0.2s;
    transform: scale(1.04) rotate(0.2deg);
}

h1 {
    margin: 0px;
    color: white;
}

header {
    height: 15%;
    background-color: black; 
    padding: 0px 20px 0px 20px;
}

.header-container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.zagolovok-container {
    display:flex;
    align-items: center;
    gap:20px;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

footer {
    background-color:black;
    height: 10%;
}