* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-image: url(../images/sity_2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.logo{
    display: flex;
    width: 70px;
    height: 70px;
}

.zagolovok {
    margin-right: 65%;

}

h1 {
    margin: 0px;
    color: white;
}

header {
    height: 15%;
    background-color: black; 
}

.header-container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

footer {
    background-color:black;
    height: 10%;
}