button {
    margin: 0px;
    height: 20px;
    font-size: 20px;
    border: none; 
}

.btt3 {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    gap: 20px;
    height: 38px;
}

.button-game {
    height: 40px;
    background-color: white;
    margin-right: 3px;
}

.button-about {
    height: 40px;
}

.button-game:hover {
    border: 2px solid white ;
    color: white;
    background-color:black;
    transform: rotate(15deg);
    transition: 0.5s;
    
}

.button-about:hover {
    border: 2px solid white ;
    color: white;
    background-color:black;
   transform: rotate(-15deg);
   transition: 0.5s;
    
}

.main_container {
    border: 3px outset black;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 70%;
    max-width: 60%;
    min-width: 50%;
}

.game_name {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px outset purple;
    border-radius: 30px;
    background: black;
    color: white;
    height: 15%;
    width: 55%;
    margin-left: 25%;  
}

.game_container {
    display: flex;
    height: 50%;
    color:white;
    text-align: left;
    padding-top: 70px;
    

}

.ava {
    background-image: url(../images/PETR1.webp);
    width: 300px;
    margin-right: 5px;
}

.main_text {
    font-style: italic;
    padding: 10px;
    margin-right: 10px;
    max-width: 500px;
    max-height: 300px;
}



.footjob {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10%;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 100%;   
    font-size: 19px;
    font-weight: bold;
    color: #fafaff;   
   }
 
   .text {
    background-color: black;
    
 }

 .menu:hover { 
    color: white;
    font-style: italic;
    padding:2px;
    background-color:black;
}

.bottom_main {
   width: 150px;
 
}

.button_next {
    border: 2px solid black ;
    color: white;
    height: 40px;
    background-color: black;
    width: 150px;
    height: 80px;
    margin-left: 50px;
}

.button_next:hover {
    border: 2px outset rgba(63,24,85,5) ;
    background: rgb(28,25,25);
    background: linear-gradient(90deg, rgba(28,25,25,1) 3%, rgba(63,24,85,1) 53%, rgba(50,20,120,1) 96%);
    rotate (360deg);
    transition: 0.7s;
}

