button {
    margin: 0px;
    height: 20px;
    font-size: 20px;
    border: none; 
}

.btt3 {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    gap: 20px;
    height: 38px;
}

.button-game {
    height: 40px;
    background-color: white;
}

.button-about {
    height: 40px;
}

.button-game:hover {
    border: 2px solid white ;
    color: white;
    background-color:black;
}

.button-about:hover {
    border: 2px solid white ;
    color: white;
    background-color:black;
    
}

.main_container {
    background-color: rgba(0, 0, 0, 0.8);
    height: 70%;
    max-width: 60%;
    min-width: 50%;
}

.game_name {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px outset purple;
    border-radius: 30px;
    background: black;
    color: purple;
    height: 15%;
    width: 50%;
    margin-left: 25%;  
}

.game_container {
    display: flex;
    height: 85%;
    color:white;
    text-align: left;
    padding-top: 70px;
}


.text1 {
    padding-left: 10px;
}


.ava {
    max-width: 280px;
    max-height: 280px;
    padding-left: 50px;
    padding-top:5px ;
   margin-bottom:50px ;
}



.footjob {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10%;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 100%;   
    font-size: 19px;
    font-weight: bold;
    color: #fafaff;   
   }
 
   .text {
    background-color: black;
 }

 .menu:hover { 
    color: white;
    font-style: italic;
    padding:2px;
    background-color:black;
}