main {
    height: auto;
}

li {
    padding-top: 10px;
}

h1 {
    text-align: center;
}

.state_authorities_image {
    background-image: url(../../public/новые_гос_органы.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    height: 350px;
}

.state_background_opacity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    padding: 0px 40px 0px 40px;
}

.main_state_text {
    color: white;
    font-family: "JetBrains Mono", monospace;
    width: 500px;
    h2 {
        font-size: 30px;
    }
}

.state_main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px 20px 20px;
    font-family: 'Montserrat', sans-serif;
}

.state_reasons ul li {
    padding: 10px;
}

.state_reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-width: 300px;
    ul {
        padding-top: 20px;
    }
}

.border_line {
    width: 100%;
    height: 25px;
    border-bottom: 2px solid black;
}

.state_authorities {
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    h2 {
        font-size: 30px;
    }   
}

.authorities {
    font-family: 'Montserrat', sans-serif;
    h3 {
        padding-top: 20px;
        font-size: 24px;
    }
}

.authorities {
    max-width: 850px;
    p {
        padding-left: 20px;
    }
    ul {
       padding-left: 60px;
    }
    li {
        padding-top: 20px;
    }
}

.reforms-zag {
    padding: 40px 0px 0px 0px;
}

.reforms {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}

.ref {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: white;
    h2 {
        color:antiquewhite;
        padding-top: 20px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 2px solid white;
    }
    .text {
        padding: 0px 20px 20px 20px;
    }
    background-color: black;
}

.img {
    background-size: cover;
    background-position: center;
    height: 350px;
    -webkit-box-shadow: 0px 0px 43px 10px rgba(34, 60, 80, 0.97) inset;
    -moz-box-shadow: 0px 0px 43px 10px rgba(34, 60, 80, 0.97) inset;
    box-shadow: 0px 0px 43px 10px rgba(34, 60, 80, 0.97) inset;
}

.img-1 {
    background-image: url(../../public/Петр-батя.png);
}

.img-2 {
    background-image: url(../../public/Коллегии.png);
}

.img-3 {
    background-image: url(../../public/магистрат.png);
    background-position: top;
}

.img-4 {
    background-image: url(../../public/земской_собор.png);
}