.back {
    padding: 2px;
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: white;
    margin-bottom: 20px;
    transition: 0.5s;
}

.back:hover {
    background-color: yellow;
}

main {
    height: auto;
}

.state_authorities_image {
    background-image: url(../../public/новые_гос_органы.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    height: 350px;
}

.state_background_opacity {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    padding: 0px 40px 0px 40px;
}

.main_state_text {
    color: white;
    font-family: "JetBrains Mono", monospace;
    max-width: 500px;
    h2 {
        font-size: 30px;
    }
}

.state_main_content {
    padding: 40px;
}

.state_reasons ul li {
    padding: 10px;
}

.state_reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    ul {
        padding-top: 20px;
    }
}

.border_line {
    width: 100%;
    height: 25px;
    border-bottom: 2px solid black;
}

.state_authorities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

.authorities {
    margin-top: 20px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    ul {
       padding-left: 60px;
    }
    li {
        padding-top: 20px;
    }
    background-color: black;
    color: white;
}

.text-zagolovok {
    h2 {
        font-size: 40px;
    }
}

.img {
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.shadow_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.text {
    padding: 0px 20px 20px 20px;
    h2 {
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

.note {
    font-size: 22px;
}

.text-zagolovok {
    font-family: "JetBrains Mono", monospace;
    font-size: 40px;
    color: white;
    text-align: center;
}

.definition {
    width: 100%;
    color: yellow;
    font-size: 20px;
    border-bottom: 2px solid white;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

.img-1 {
    background-image: url(../../public/центр-2.png);
    background-attachment: fixed;
}

.img-2 {
    background-image: url(../../public/Местные.png);
    background-attachment: fixed;
}

.img-3 {
    background-image: url(../../public/Судебные.png);
    background-attachment: fixed;
}

@media(max-width:450px) {
    .state_background_opacity {
        a {
            font-size: 20px;
        }
        .main_state_text {
            h2 {
                font-size: 25px;
            }
            p {
                font-size: 15px;
            }
        }
    }
}