main {
    height: auto;
}

.state_authorities_image {
    background-image: url(../../public/новые_гос_органы.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    height: 350px;
}

.state_background_opacity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    padding: 0px 40px 0px 40px;
}

.main_state_text {
    color: white;
    font-family: "JetBrains Mono", monospace;
    width: 500px;
    h2 {
        font-size: 30px;
    }
}

.state_main_content {
    padding: 40px;
}

.state_reasons ul li {
    padding: 10px;
}

.state_reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.border_line {
    height: 25px;
    border-bottom: 2px solid black;
}

.state_authorities {
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    h2 {
        font-size: 30px;
    }   
}

.authorities {
    font-family: 'Montserrat', sans-serif;
    h3 {
        padding-top: 20px;
        font-size: 24px;
    }
}

.authorities {
    max-width: 850px;
    p {
        padding-left: 20px;
    }
    ul {
       padding: 0px 60px;
    }
    li {
        padding-top: 20px;
    }
}